<p>error-page works!</p>

<ul>
    <li>
        <a href="/auth/login"> Ir a login</a>
    </li>
    <li>
        <a href="/auth/registro"> Ir a Registro</a>
    </li>
</ul>
<ul>
    <li>
        <a href="/heroes/listado"> Ir a listado</a>
    </li>
    <li>
        <a href="/heroes/agregar"> Ir a agregar</a>
    </li>
    <li>
        <a href="/heroes/editar/2"> Ir a editar</a>
    </li>
    <li>
        <a href="/heroes/buscar"> Ir a buscar</a>
    </li>
    <li>
        <a href="/heroes/2"> Ir a heroi</a>
    </li>
</ul>